<h2>Exercise 3 Vocabulary</h2>
<h3>Label the weather symbols.</h3>
<div id="page" class="page">
    <div class="input-row" id="row1">
        <div class="input">
            <input type="text" disabled="disabled"/>
        </div>
        <div class="input">
            <input type="text"/>
            <span></span>
        </div>
        <div class="input">
            <input type="text"/>
            <span></span>
        </div>
    </div>
    <div class="input-row" id="row2">
        <div class="input">
            <input type="text"/>
            <span></span>
        </div>
        <div class="input">
            <input type="text"/>
            <span></span>
        </div>
        <div class="input">
            <input type="text"/>
            <span></span>
        </div>
    </div>
</div>